:root {
  --big-chungus: 30px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0f5e9c;
}

.header {
  position: fixed;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 75px;
  padding: 20px;
  justify-content: center;
  z-index: index 100;
}

@font-face {
  font-family: Gilroy;
  src: url("./Assets/Gilroy Extra Bold/Reg.otf");
}

::selection {
  color: #0f5e9c;
  background: rgba(255, 255, 255, 0.75);
}

#icon {
  color: #0f5e9c;
  transition: 1s;
}

#icon:hover {
  color: white;
}

#div2 {
  height: 1000px;
  background-color: #5abcd8;
  padding-top: 235px;
  justify-content: center;
}
#div3 {
  height: 1000px;
  padding: 75px 50px 20px 50px;
  background-color: #1ca3ec;
  font-family: Gilroy;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
#div4 {
  height: 1000px;
  background-color: #2389da;
  padding-top: 100px;
}
#div5 {
  height: 830px;
  background-color: #0f5e9c;
  padding-top: 75px;
}
#div6 {
  padding-bottom: 10px;
}

@keyframes idleTitle {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, 10px) rotate(5deg);
  }

  75% {
    transform: translate(0, 15px) rotate(-5deg);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@keyframes idleText {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, 2px) rotate(1deg);
  }

  75% {
    transform: translate(0, 3px) rotate(-1deg);
  }

  100% {
    transform: translate(0, -0px);
  }
}

#title {
  animation: idleTitle 5s ease-in-out infinite;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

#homeB {
  text-decoration: none;
  font-family: Gilroy;
  color: white;
  font-size: 17.5px;
  margin-right: 74%;
  transition: 1s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(100px);
  z-index: 5;
}

#homeB:hover {
  color: yellow;
  z-index: 5;
}

#statsB {
  text-decoration: none;
  font-family: Gilroy;
  color: white;
  font-size: 17.5px;
  margin-right: 2.5%;
  transition: 1s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 5;
}
#statsB:hover {
  color: yellow;
  z-index: 5;
}
#endB {
  text-decoration: none;
  font-family: Gilroy;
  color: white;
  font-size: 17.5px;
  margin-right: 2.5%;
  transition: 1s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 5;
}
#endB:hover {
  color: yellow;
  z-index: 5;
}
#aB {
  text-decoration: none;
  font-family: Gilroy;
  font-size: 17.5px;
  color: white;
  transition: 1s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 5;
}
#aB:hover {
  color: yellow;
  z-index: 0;
}

.text-fill {
  font-family: Gilroy;
  font-size: 250px;
  background-clip: text;
  background-color: transparent;
  height: 0px;
  color: #0f5e9c;
  margin-left: 29%;
  padding: 0px;
  position: relative;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.text-fill::before {
  content: attr(data-title);
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  transition: all 2s ease-in-out;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
}

.text-fill:hover::before {
  height: 0px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5abcd8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.stats {
  color: rgb(227, 237, 255);
  text-align: center;
  font-size: 50px;
  font-family: Gilroy;
  animation: idleTitle 5s ease-in-out infinite;
}

.stats-container {
  margin-top: 75px;
  display: inline-block;
  width: 300px;
  animation: idleTitle 5s ease-in-out infinite;
}

.stats-description {
  color: rgb(167, 220, 255);
  text-align: center;
  font-family: Gilroy;
  animation: idleTitle 6s ease-in-out infinite;
  font-size: 15px;
}

.stats-desc-small {
  color: white;
  text-align: center;
  font-family: Gilroy;
  font-size: 30px;
  animation: idleTitle 7s ease-in-out infinite;
}

#sc1 {
  margin-left: 140px;
}

#sc2 {
  margin-left: 140px;
  width: 300px;
}

#sc3 {
  margin-left: 110px;
  padding: 0px;
}

#sc4 {
  margin-left: 110px;
}

#sc5 {
  margin-left: 140px;
  width: 700px;
}

#sch5 {
  font-size: 70px;
  animation: idleTitle 4s ease-in-out infinite;
  transition: 1s;
}
#sch4 {
  transition: 1s;
}
#sch3 {
  transition: 1s;
}
#sch2 {
  transition: 1s;
}
#sch1 {
  transition: 1s;
}

#sch5:hover {
  font-size: 80px;
}
#sch4:hover {
  font-size: 60px;
}

#sch3:hover {
  font-size: 60px;
}

#sch2:hover {
  font-size: 60px;
}

#sch1:hover {
  font-size: 60px;
}

#scd5 {
  font-size: 30px;
}
.left-column {
  text-align: left;
  display: inline-block;
  width: 40%;
  margin-left: 150px;
  margin-top: 0;
  vertical-align: top;
}

.right-column {
  text-align: right;
  display: inline-block;
  width: 40%;
}

#pie-chart {
  transition: 1s;
}
#pie-chart:hover {
  transform: scale(1.1);
}

.citystats {
  font-size: 50;
}

.citylist {
  font-size: 30;
  color: white;
  text-align: center;
  font-family: Gilroy;
  animation: idleTitle 7s ease-in-out infinite;
}

.citystatlist {
  font-size: 80;
  color: white;
  text-align: center;
  font-family: Gilroy;
  transition: 1s;
}

.citystatlist:hover {
  font-size: 90;
}

.list-class {
  font-family: Gilroy;
  color: rgb(167, 220, 255);
  font-size: 20px;
  text-align: left;
  line-height: 45px;
  animation: idleText 4s ease-in-out infinite;
}

#l1 {
  animation: idleText 5s ease-in-out infinite;
  transition: 1s;
}
#l1:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
#l2 {
  animation: idleText 4s ease-in-out infinite;
  transition: 1s;
}
#l2:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
#l3 {
  animation: idleText 3s ease-in-out infinite;
  transition: 1s;
}
#l3:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
#l4 {
  animation: idleText 5s ease-in-out infinite;
  transition: 1s;
}
#l4:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
#l5 {
  animation: idleText 4s ease-in-out infinite;
  transition: 1s;
}
#l5:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
#l6 {
  animation: idleText 3s ease-in-out infinite;
  transition: 1s;
}
#l6:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
#l7 {
  animation: idleText 5s ease-in-out infinite;
  transition: 1s;
}
#l7:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
#l8 {
  animation: idleText 4s ease-in-out infinite;
  transition: 1s;
}
#l8:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
#l9 {
  animation: idleText 3s ease-in-out infinite;
  transition: 1s;
}
#l9:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
#l10 {
  animation: idleText 5s ease-in-out infinite;
  transition: 1s;
}
#l10:hover {
  font-size: 25px;
  color: white;
  list-style-type: disc;
}
.carousel .carousel-item {
  height: 680px;
  width: 100%;
}

.carousel-item img {
  z-index: -1;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

.stats-head {
  font-family: Gilroy;
  color: rgb(167, 220, 255);
  font-size: 30px;
  text-align: center;
  line-height: 45px;
  animation: idleText 4s ease-in-out infinite;
}

.carouselHeads {
  font-family: Gilroy;
  font-size: var(--big-chungus);
  border-radius: 25;
  color: white;
  animation: idleText 5s ease-in-out infinite;
}
ul.list-class {
  list-style-type: circle;
}

#feedbackInput {
  margin-left: 600px;
  margin-bottom: 100px;
  width: 300px;
}

.mission {
  font-size: 20px;
  width: 1100px;
  font-family: Gilroy;
  color: rgb(167, 220, 255);
  text-align: center;
  margin-left: 160px;
  margin-top: 0;
  padding-top: 0px;
}

#feedbackInput {
  border: none;
  outline: none;
  font-family: Gilroy;
  border-radius: 50px;
  width: 500px;
  margin-left: 450px;
  height: 40px;
  margin-top: 20px;
  padding: 15px;
}
